# Env
NODE_ENV = Complete with de nodejs environment

# Port
PORT = Complete with port

#Log
LOG_LEVEL = Complete with the log level

#batabase
DATABASE_URL = Complete with de mongodb connection url

#auth
AUTH_SECRET = Complete with the private key for JWT
AUTH_TTL = Complete with the time to live for JWT

#batabase
DATABASE_HOST = DB Host url or IP
DATABASE_USERNAME = Username
DATABASE_PASSWORD = Password
DATABASE_NAME = DB Name

# AWS
AWS_ACCESS_KEY_ID = AWS Access Key
AWS_PRIVATE_ACCESS_KEY = AWS Private Key
AWS_S3_BUCKET_NAME = AWS S3 Bucket name
